<div class="site-bd">
  <div class="wrapper">
    <%= render :partial => 'summary', :page => @page %>
    <%= render :partial => 'first3Col', :page => @page %>
    <%= render :partial => 'firstFullWidth', :page => @page %>
    <%= render :partial => 'twoCol', :page => @page %>
    <%= render :partial => 'secondFullWidth', :page => @page %>
  </div>
</div>