<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    # css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<!-- /grid -->
    <div class="grid">
      <div class="<%= css %>">
        <ul class="navList hList">
        <%= render :partial => '/refinery/menu_branch', :collection => roots,
                   :locals => {
                     :hide_children => hide_children,
                     :sibling_count => (roots.length - 1),
                     :menu_levels => local_assigns[:menu_levels],
                     :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                   } -%>
      </ul>
    </div>
  </div>
  <div class="grid">
    <div class="pageHdg">
      <% if @page.parent.nil? %>
        <h2 class="pageHdg-hd"><%= @page.title %></h2>
      <% else %>
        <h2 class="pageHdg-hd"><%= @page.parent.title %></h2>
        <h3 class="pageHd-sub"><%= @page.title %></h3>
      <% end %>
    </div>
  </div>
<% end -%>