<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body class="<%= site_section_class %>">
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <%= render(:partial => "/refinery/menu", :locals => {:css => "navPrimaryMobile"}) %>

    <div class="site">
      <%= render '/refinery/header' -%>

      <!-- Page Body from Template -->
      <div class="site-bd">
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
      <!-- end Page Body -->

      <%= render '/refinery/footer' -%>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
